services:
  backend:
    image: $CI_REGISTRY_IMAGE:latest
    ports:
      - "127.0.0.1:14001:8080"
    depends_on:
      - mongodb
    environment:
      - MONGODB_URI=$MONGODB_URI
      - MONGODB_DB_NAME=$MONGODB_DB_NAME
      - ALLOWED_ORIGINS=$ALLOWED_ORIGINS
    networks:
      - app-network
    entrypoint: ["/bin/sh", "-c", "until nc -z mongodb 27017; do echo waiting for mongodb; sleep 2; done; ./holly-back"]

  mongodb:
    image: mongo:latest
    container_name: mongo-db
    ports:
      - "27017:27017"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge